
.form-peminjaman {
  max-width: 500px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.form-peminjaman h2 {
  margin-bottom: 20px;
  color: #1f2937;
}

.form-peminjaman input,
.form-peminjaman select,
.form-peminjaman textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
}

.form-peminjaman textarea {
  resize: none;
  height: 80px;
}

.form-peminjaman button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.form-peminjaman button:hover {
  background: #1d4ed8;
}
.btn-tambah {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-tambah:hover {
  background: #1e40af;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup {
  background: #fff;
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.popup form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup input,
.popup textarea,
.popup select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.popup button {
  background: #054e66;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.popup button:hover {
  background: #16a34a;
}

.btn-cancel {
  background: #ef4444;
  margin-top: 10px;
}

.btn-cancel:hover {
  background: #b91c1c;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  background: #f1f5f9;
}

.table tr:nth-child(even) {
  background: #f8fafc;
}

.aksi {
  display: flex;
  gap: 8px;
}

.btn-edit {
  background: #facc15;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-hapus {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-edit:hover {
  background: #eab308;
}

.btn-hapus:hover {
  background: #dc2626;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.btn-hapus{
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #ef4444;
  color: white;
  margin-left: 8px;
}

.btn-hapus:hover{
  background: #dc2626;
}
